@page "/email"


<PageTitle>Email</PageTitle>

<div class="input-group p-2">
    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="visible-addon">
    <input type="text" class="form-control d-none" placeholder="Hidden input" aria-label="Hidden input" aria-describedby="visible-addon">
</div>