@page "/rememberMeCheckbox"


<PageTitle>RememberMeCheckbox</PageTitle>

<div class="text-start p-2">
    <input type="checkbox" class=" form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
</div>