@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center fullscreen text box">
    <div class="body">
        <div id="pictures" class="last"></div>
        <div id="contactform" class="column half">
            <_Title/>
            <_EmailInput/>
            <_PasswordInput/>
            <_RememberMeCheckbox/>
            <_ButtonSubmit/>
            <div class="p-3 d-flex align-items-center">
                <span class="me-3">Don't have any account? <NavLink class="me-3" href="SignUp">Sign Up</NavLink></span>
                <NavLink class="me-3" href="ForgotPassword">Forgot Password</NavLink>
            </div>
        </div>
        
    </div>
</div>


